In [1]:
%load_ext bigdata

In [4]:
%hive_start

In [3]:
%timeout 300

In [6]:
%%hive
DROP TABLE IF EXISTS data;

CREATE TABLE data (
    c1 STRING,
    c2 STRING,
    c3 INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE data;

DROP TABLE IF EXISTS data;
OK
Time taken: 0.275 seconds
CREATE TABLE data (
    c1 STRING,
    c2 STRING,
    c3 INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n';
OK
Time taken: 0.185 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE data;
Loading data to table default.data
OK
Time taken: 1.986 seconds

In [8]:
%%hive
SELECT * FROM data LIMIT 10;

SELECT * FROM data LIMIT 10;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
Time taken: 3.867 seconds, Fetched: 10 row(s)

In [10]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT DISTINCT c3 FROM data
ORDER BY
    c3 ASC
LIMIT
    5;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.406 seconds
CREATE TABLE tabla1
AS
    SELECT DISTINCT c3 FROM data
ORDER BY
    c3 ASC
LIMIT
    5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200205005051_65e3bbb4-87f0-4aa0-bb2d-413477e69a5f
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580860424032_0003, Tracking URL = http://f6bf3f7096b1:8088/proxy/application_1580860424032_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580860424032_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-05 00:51:19,588 Stage-1 map = 0%,  reduce = 0%
2020-02-05 00:51:35,534 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 5.56 sec
2020-02-05 00:51:53,910 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 10.21 sec
MapReduce Total cumulative CPU time: 10 seconds 210 msec
Ended Job = job_1580860424032_0003
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580860424032_0004, Tracking URL = http://f6bf3f7096b1:8088/proxy/application_1580860424032_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580860424032_0004
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-05 00:52:23,331 Stage-2 map = 0%,  reduce = 0%
2020-02-05 00:52:38,553 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 7.61 sec
2020-02-05 00:52:56,646 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 17.87 sec
MapReduce Total cumulative CPU time: 17 seconds 870 msec
Ended Job = job_1580860424032_0004
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 10.21 sec   HDFS Read: 7300 HDFS Write: 186 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 17.87 sec   HDFS Read: 4824 HDFS Write: 82 SUCCESS
Total MapReduce CPU Time Spent: 28 seconds 80 msec
OK
Time taken: 128.599 seconds

In [11]:
%%hive
SELECT * FROM tabla1 LIMIT 10;

SELECT * FROM tabla1 LIMIT 10;
OK
5
6
7
10
11
Time taken: 0.392 seconds, Fetched: 5 row(s)

In [29]:
%%hive
DROP TABLE IF EXISTS ordenado;
CREATE TABLE ordenado
AS
    SELECT * FROM data
ORDER BY
    c1, c3, c2;

DROP TABLE IF EXISTS ordenado;
OK
Time taken: 26.728 seconds
CREATE TABLE ordenado
AS
    SELECT * FROM data
ORDER BY
    c1, c3, c2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200203015024_dd69c242-1a14-4220-971e-c9267d8dd1f9
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580680475277_0032, Tracking URL = http://62101e4655e1:8088/proxy/application_1580680475277_0032/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580680475277_0032
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-03 01:50:56,463 Stage-1 map = 0%,  reduce = 0%
2020-02-03 01:51:11,116 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 7.37 sec
2020-02-03 01:51:26,379 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 15.77 sec
MapReduce Total cumulative CPU time: 15 seconds 770 msec
Ended Job = job_1580680475277_0032
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/ordenado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 15.77 sec   HDFS Read: 7821 HDFS Write: 710 SUCCESS
Total MapReduce CPU Time Spent: 15 seconds 770 msec
OK
Time taken: 67.282 seconds

In [32]:
%%hive
SELECT * FROM ordenado LIMIT 50;

SELECT * FROM ordenado LIMIT 50;
OK
A	1990-10-06	10
A	1990-09-05	11
A	1988-04-27	12
A	1990-08-31	12
A	1994-10-25	13
A	1997-12-15	13
A	1990-09-26	14
A	1992-08-22	14
A	1993-01-11	14
A	1993-05-08	16
A	1990-07-22	18
A	1992-09-19	18
B	1995-08-23	10
B	1999-06-11	12
B	1998-11-22	13
B	1999-10-21	13
B	1993-03-02	14
B	1995-09-06	14
B	1997-04-09	14
B	1999-08-28	14
B	1991-10-01	15
B	1994-08-30	17
C	1994-01-25	6
C	1994-07-27	7
C	1991-02-12	13
C	1994-09-09	15
D	1990-10-10	15
E	1994-02-14	5
E	1999-09-10	11
E	1999-12-06	12
E	1993-01-27	13
E	1991-02-18	14
E	1999-01-14	15
E	1985-02-12	16
E	1990-05-03	16
E	1995-04-25	16
E	1998-09-14	16
E	1993-07-21	17
E	1990-02-09	18
E	1993-12-27	18
Time taken: 34.735 seconds, Fetched: 40 row(s)

In [89]:
%%hive
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM count_letra;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM count_letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200203003025_38636cd4-6cf5-4df1-9a6a-6df48b948bf0
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1580680475277_0013, Tracking URL = http://62101e4655e1:8088/proxy/application_1580680475277_0013/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580680475277_0013
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-03 00:31:00,467 Stage-1 map = 0%,  reduce = 0%
2020-02-03 00:31:18,629 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 8.15 sec
MapReduce Total cumulative CPU time: 8 seconds 150 msec
Ended Job = job_1580680475277_0013
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-02-03_00-30-25_415_2102981930722482160-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 8.15 sec   HDFS Read: 3399 HDFS Write: 23 SUCCESS
Total MapReduce CPU Time Spent: 8 seconds 150 msec
OK
Time taken: 56.728 seconds

In [90]:
!hdfs dfs -copyToLocal /tmp/output output

In [79]:
!hdfs dfs -ls /tmp

Found 2 items
drwxrwx---   - root supergroup          0 2020-02-02 21:56 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-02 22:12 /tmp/hive

In [102]:
!hadoop fs -rm /tmp/output/*

Deleted /tmp/output/000000_0

In [103]:
!hadoop fs -rmdir /tmp/output

In [104]:
!hdfs dfs -mkdir /tmp/output

In [12]:
%hive_quit