In [1]:
%load_ext bigdata

In [2]:
%hive_start

In [3]:
%timeout 300

In [41]:
%hive_quit

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 25.862 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.969 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 3.554 seconds

In [30]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT
        year(c4) AS ano,
        letra
    FROM
        tbl0
    LATERAL VIEW
        explode(c5) tbl0 AS letra;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.465 seconds
CREATE TABLE tabla1
AS
    SELECT
        year(c4) AS ano,
        letra
    FROM
        tbl0
    LATERAL VIEW
        explode(c5) tbl0 AS letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200207234128_533b2a08-3c9f-41f9-8262-5435c31a4d29
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581114677533_0014, Tracking URL = http://b29a149d01a3:8088/proxy/application_1581114677533_0014/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581114677533_0014
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-07 23:41:50,298 Stage-1 map = 0%,  reduce = 0%
2020-02-07 23:42:07,800 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 11.4 sec
MapReduce Total cumulative CPU time: 11 seconds 400 msec
Ended Job = job_1581114677533_0014
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-07_23-41-28_112_113998090190460426-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 11.4 sec   HDFS Read: 6141 HDFS Write: 309 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 400 msec
OK
Time taken: 43.164 seconds

In [31]:
%%hive
DESCRIBE tabla1;

DESCRIBE tabla1;
OK
ano                 	int
letra               	char(1)
Time taken: 0.095 seconds, Fetched: 2 row(s)

In [39]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT ano, letra, count(2) AS num
    FROM
        tabla1
GROUP BY
    letra, ano
ORDER BY
    ano, letra;

DROP TABLE IF EXISTS result;
OK
Time taken: 24.197 seconds
CREATE TABLE result
AS
    SELECT ano, letra, count(2) AS num
    FROM
        tabla1
GROUP BY
    letra, ano
ORDER BY
    ano, letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200208000414_6561a218-dde6-4969-ae24-88a6b46e7418
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581114677533_0025, Tracking URL = http://b29a149d01a3:8088/proxy/application_1581114677533_0025/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581114677533_0025
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-08 00:04:44,059 Stage-1 map = 0%,  reduce = 0%
2020-02-08 00:04:58,832 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 5.93 sec
2020-02-08 00:05:13,068 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 16.32 sec
MapReduce Total cumulative CPU time: 16 seconds 320 msec
Ended Job = job_1581114677533_0025
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581114677533_0026, Tracking URL = http://b29a149d01a3:8088/proxy/application_1581114677533_0026/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581114677533_0026
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-08 00:05:37,048 Stage-2 map = 0%,  reduce = 0%
2020-02-08 00:05:49,282 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 3.5 sec
2020-02-08 00:06:04,232 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 13.22 sec
MapReduce Total cumulative CPU time: 13 seconds 220 msec
Ended Job = job_1581114677533_0026
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/result
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 16.32 sec   HDFS Read: 8073 HDFS Write: 556 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 13.22 sec   HDFS Read: 6444 HDFS Write: 251 SUCCESS
Total MapReduce CPU Time Spent: 29 seconds 540 msec
OK
Time taken: 114.108 seconds

In [ ]:
    SELECT ano, letra, count(2) AS num
    FROM
        tabla1
GROUP BY
    letra, ano
ORDER BY
    ano;

In [40]:
%%hive
SELECT * FROM result LIMIT 30;

SELECT * FROM result LIMIT 30;
OK
2014	a	1
2014	b	1
2014	d	2
2014	e	1
2015	a	3
2015	b	1
2015	c	3
2015	d	2
2015	e	2
2016	a	2
2016	b	1
2016	c	3
2016	d	3
2016	e	3
2017	a	1
2017	b	1
2017	c	1
2017	e	1
2018	a	1
2018	d	1
Time taken: 0.694 seconds, Fetched: 20 row(s)