In [20]:
%load_ext bigdata

The bigdata extension is already loaded. To reload it, use:
  %reload_ext bigdata

In [166]:
%hive_start

In [22]:
%timeout 300

In [167]:
%hive_quit

In [23]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 28.432 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.886 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 3.578 seconds

In [24]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.328 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.213 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 2.167 seconds

In [42]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT
        t0.c1,
        t0.c2,
        t1.c4
    FROM
        tbl0 t0
    JOIN tbl1 t1
    ON (t0.c1 = t1.c1);

    ON (t0.c1 = t1.c1);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209201256_75f31d96-abf3-4fa5-a198-9086075d5427
Total jobs = 1
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
2020-02-09 20:13:22	Starting to launch local task to process map join;	maximum memory = 477626368
2020-02-09 20:13:27	Dump the side-table for tag: 1 with group count: 10 into file: file:/tmp/root/80ab6bb8-0c0a-4da6-8f5d-8d2ce62398cd/hive_2020-02-09_20-12-56_208_1546791301186882113-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile21--.hashtable
2020-02-09 20:13:28	Uploaded 1 File to: file:/tmp/root/80ab6bb8-0c0a-4da6-8f5d-8d2ce62398cd/hive_2020-02-09_20-12-56_208_1546791301186882113-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile21--.hashtable (673 bytes)
2020-02-09 20:13:28	End of local task; Time Taken: 5.469 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581277440203_0003, Tracking URL = http://fa9504f29e89:8088/proxy/application_1581277440203_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581277440203_0003
Hadoop job information for Stage-4: number of mappers: 1; number of reducers: 0
2020-02-09 20:13:55,216 Stage-4 map = 0%,  reduce = 0%
2020-02-09 20:14:14,562 Stage-4 map = 100%,  reduce = 0%, Cumulative CPU 12.95 sec
MapReduce Total cumulative CPU time: 12 seconds 950 msec
Ended Job = job_1581277440203_0003
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-4: Map: 1   Cumulative CPU: 12.95 sec   HDFS Read: 7152 HDFS Write: 312 SUCCESS
Total MapReduce CPU Time Spent: 12 seconds 950 msec
OK
Time taken: 81.783 seconds
DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.155 seconds
CREATE TABLE tabla1
AS
    SELECT
        t0.c1,
        t0.c2,
        t1.c4
    FROM
        tbl0 t0
    JOIN tbl1 t1

In [42]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT
        t0.c1,
        t0.c2,
        t1.c4
    FROM
        tbl0 t0
    JOIN 
        SELECT
            tbl1 t1
    ON (t0.c1 = t1.c1);

    ON (t0.c1 = t1.c1);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209201256_75f31d96-abf3-4fa5-a198-9086075d5427
Total jobs = 1
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
2020-02-09 20:13:22	Starting to launch local task to process map join;	maximum memory = 477626368
2020-02-09 20:13:27	Dump the side-table for tag: 1 with group count: 10 into file: file:/tmp/root/80ab6bb8-0c0a-4da6-8f5d-8d2ce62398cd/hive_2020-02-09_20-12-56_208_1546791301186882113-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile21--.hashtable
2020-02-09 20:13:28	Uploaded 1 File to: file:/tmp/root/80ab6bb8-0c0a-4da6-8f5d-8d2ce62398cd/hive_2020-02-09_20-12-56_208_1546791301186882113-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile21--.hashtable (673 bytes)
2020-02-09 20:13:28	End of local task; Time Taken: 5.469 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581277440203_0003, Tracking URL = http://fa9504f29e89:8088/proxy/application_1581277440203_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581277440203_0003
Hadoop job information for Stage-4: number of mappers: 1; number of reducers: 0
2020-02-09 20:13:55,216 Stage-4 map = 0%,  reduce = 0%
2020-02-09 20:14:14,562 Stage-4 map = 100%,  reduce = 0%, Cumulative CPU 12.95 sec
MapReduce Total cumulative CPU time: 12 seconds 950 msec
Ended Job = job_1581277440203_0003
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-4: Map: 1   Cumulative CPU: 12.95 sec   HDFS Read: 7152 HDFS Write: 312 SUCCESS
Total MapReduce CPU Time Spent: 12 seconds 950 msec
OK
Time taken: 81.783 seconds
DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.155 seconds
CREATE TABLE tabla1
AS
    SELECT
        t0.c1,
        t0.c2,
        t1.c4
    FROM
        tbl0 t0
    JOIN tbl1 t1

In [44]:
%%hive
SELECT * FROM tabla1 LIMIT 20;

SELECT * FROM tabla1 LIMIT 20;
OK
1	D	{"A":0,"B":4,"C":1,"D":3,"E":5}
2	C	{"A":4,"B":1,"C":0,"D":5,"E":2}
3	D	{"A":5,"B":4,"C":3,"D":1,"E":0}
4	D	{"A":2,"B":4,"C":3,"D":5,"E":1}
5	C	{"A":4,"B":0,"C":2,"D":5,"E":3}
6	A	{"A":4,"B":5,"C":1,"D":2,"E":3}
7	B	{"A":0,"B":5,"C":2,"D":4,"E":3}
8	C	{"A":4,"B":2,"C":5,"D":3,"E":0}
9	B	{"A":1,"B":4,"C":2,"D":5,"E":3}
10	B	{"A":2,"B":3,"C":4,"D":1,"E":0}
Time taken: 0.476 seconds, Fetched: 10 row(s)

In [56]:
%%hive
DESCRIBE tabla1;

DESCRIBE tabla1;
OK
c1                  	int
c2                  	string
c4                  	map<string,int>
Time taken: 0.064 seconds, Fetched: 3 row(s)

In [161]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT
        c1,
        c2,
        value
    FROM
        tabla1
    LATERAL VIEW
        explode(c4) tabla1
    WHERE c2 = key;

        explode(c4) tabla1
    WHERE c2 = key;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209214757_e2fae4cc-6109-4e78-8e0b-b28d23928345
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581277440203_0031, Tracking URL = http://fa9504f29e89:8088/proxy/application_1581277440203_0031/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581277440203_0031
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 21:48:19,903 Stage-1 map = 0%,  reduce = 0%
2020-02-09 21:48:35,255 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 10.85 sec
MapReduce Total cumulative CPU time: 10 seconds 850 msec
Ended Job = job_1581277440203_0031
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_21-47-57_806_5241311419510420274-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla3
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 10.85 sec   HDFS Read: 5597 HDFS Write: 131 SUCCESS
Total MapReduce CPU Time Spent: 10 seconds 850 msec
OK
Time taken: 40.53 seconds
DROP TABLE IF EXISTS tabla3;
OK
Time taken: 0.058 seconds
CREATE TABLE tabla3
AS
    SELECT
        c1,
        c2,
        value
    FROM
        tabla1
    LATERAL VIEW

In [164]:
%%hive
SELECT * FROM result LIMIT 20;

SELECT * FROM tabla3 LIMIT 20;
OK
1	D	3
2	C	0
3	D	1
4	D	5
5	C	2
6	A	4
7	B	5
8	C	5
9	B	4
10	B	3
Time taken: 0.174 seconds, Fetched: 10 row(s)

In [159]:
%%hive
DESCRIBE result;

DESCRIBE tabla3;
OK
c2                  	string
key                 	string
value               	int
Time taken: 0.037 seconds, Fetched: 3 row(s)