In [ ]:
%load_ext bigdata

In [3]:
%hive_start

In [ ]:
%timeout 300

In [34]:
%hive_quit

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 27.94 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 3.924 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 5.608 seconds

In [17]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT
        c2 AS letra,
        value
    FROM
        tbl0
    LATERAL VIEW
        explode(c6) tbl0;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.258 seconds
CREATE TABLE tabla1
AS
    SELECT
        c2 AS letra,
        value
    FROM
        tbl0
    LATERAL VIEW
        explode(c6) tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209171207_4602683b-65c3-46dd-bdbc-936699dd152f
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581265070066_0005, Tracking URL = http://aecc33a1a0f1:8088/proxy/application_1581265070066_0005/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581265070066_0005
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 17:12:31,171 Stage-1 map = 0%,  reduce = 0%
2020-02-09 17:12:48,022 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 11.27 sec
MapReduce Total cumulative CPU time: 11 seconds 270 msec
Ended Job = job_1581265070066_0005
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_17-12-07_427_623911255882814332-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 11.27 sec   HDFS Read: 6007 HDFS Write: 196 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 270 msec
OK
Time taken: 44.092 seconds

In [30]:
%%hive
SELECT * FROM tabla1 LIMIT 20;

SELECT * FROM tabla1 LIMIT 20;
OK
D	10
D	20
D	40
C	40
C	20
C	10
D	10
D	40
D	40
D	20
D	10
D	30
C	10
C	20
A	20
B	20
C	10
C	20
B	40
B	10
Time taken: 0.395 seconds, Fetched: 20 row(s)

In [19]:
%%hive
DESCRIBE tabla1;

DESCRIBE tabla1;
OK
letra               	string
value               	int
Time taken: 0.148 seconds, Fetched: 2 row(s)

In [32]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT letra, sum(value) AS num
    FROM
        tabla1
GROUP BY
    letra
ORDER BY
    letra;

DROP TABLE IF EXISTS result;
OK
Time taken: 0.242 seconds
CREATE TABLE result
AS
    SELECT letra, sum(value) AS num
    FROM
        tabla1
GROUP BY
    letra
ORDER BY
    letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209172544_b8da051d-7b8f-4b55-aea5-38dcb59869eb
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581265070066_0010, Tracking URL = http://aecc33a1a0f1:8088/proxy/application_1581265070066_0010/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581265070066_0010
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 17:26:08,533 Stage-1 map = 0%,  reduce = 0%
2020-02-09 17:26:23,523 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 7.16 sec
2020-02-09 17:26:40,194 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 15.98 sec
MapReduce Total cumulative CPU time: 15 seconds 980 msec
Ended Job = job_1581265070066_0010
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581265070066_0011, Tracking URL = http://aecc33a1a0f1:8088/proxy/application_1581265070066_0011/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581265070066_0011
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-09 17:27:09,094 Stage-2 map = 0%,  reduce = 0%
2020-02-09 17:27:23,249 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 4.19 sec
2020-02-09 17:27:38,748 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 13.63 sec
MapReduce Total cumulative CPU time: 13 seconds 630 msec
Ended Job = job_1581265070066_0011
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/result
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 15.98 sec   HDFS Read: 7371 HDFS Write: 179 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 13.63 sec   HDFS Read: 5314 HDFS Write: 93 SUCCESS
Total MapReduce CPU Time Spent: 29 seconds 610 msec
OK
Time taken: 117.608 seconds

In [33]:
%%hive
SELECT * FROM result LIMIT 30;

SELECT * FROM result LIMIT 30;
OK
A	20
B	200
C	130
D	220
Time taken: 0.352 seconds, Fetched: 4 row(s)