In [1]:
%load_ext bigdata

In [3]:
%hive_start

In [2]:
%timeout 300

In [10]:
%hive_quit

In [6]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 1.439 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.215 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.855 seconds

In [8]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT
        key, count(1)
    FROM
        t0
    LATERAL VIEW
        explode(c3) t0
    GROUP BY
        key;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.035 seconds
CREATE TABLE tabla1
AS
    SELECT
        key, count(1)
    FROM
        t0
    LATERAL VIEW
        explode(c3) t0
    GROUP BY
        key;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209223738_9baa2b76-0a8f-4c60-a3a8-a9066c1d79f1
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581285798968_0006, Tracking URL = http://63fea19fc735:8088/proxy/application_1581285798968_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581285798968_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 22:38:06,489 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:38:23,349 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 11.41 sec
2020-02-09 22:38:41,783 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 24.28 sec
MapReduce Total cumulative CPU time: 24 seconds 280 msec
Ended Job = job_1581285798968_0006
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 24.28 sec   HDFS Read: 12545 HDFS Write: 140 SUCCESS
Total MapReduce CPU Time Spent: 24 seconds 280 msec
OK
Time taken: 67.537 seconds

In [9]:
%%hive
SELECT * FROM result LIMIT 20;

SELECT * FROM tabla1 LIMIT 20;
OK
aaa	13
bbb	16
ccc	23
ddd	23
eee	15
fff	20
ggg	13
hhh	16
iii	18
jjj	18
Time taken: 0.546 seconds, Fetched: 10 row(s)