In [2]:
%load_ext bigdata

In [42]:
%hive_start

In [43]:
%timeout 300

In [74]:
%hive_quit

In [44]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 30.066 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 2.241 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 3.563 seconds

In [7]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT
        c1, size(c2), size(c3)
    FROM
        t0;

DROP TABLE IF EXISTS result;
OK
Time taken: 0.286 seconds
CREATE TABLE result
AS
    SELECT
        c1, size(c2), size(c3)
    FROM
        t0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209225456_472eeff6-4ef5-40af-b000-f9832e09fc74
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581285798968_0009, Tracking URL = http://63fea19fc735:8088/proxy/application_1581285798968_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581285798968_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 22:55:31,177 Stage-1 map = 0%,  reduce = 0%
2020-02-09 22:55:50,196 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 10.18 sec
MapReduce Total cumulative CPU time: 10 seconds 180 msec
Ended Job = job_1581285798968_0009
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_22-54-56_989_6618652961322826572-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/result
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 10.18 sec   HDFS Read: 5588 HDFS Write: 311 SUCCESS
Total MapReduce CPU Time Spent: 10 seconds 180 msec
OK
Time taken: 57.21 seconds

In [8]:
%%hive
SELECT * FROM result LIMIT 20;

SELECT * FROM result LIMIT 20;
OK
E	3	5
A	3	4
B	4	4
A	2	4
C	4	4
A	2	5
A	3	6
B	2	3
E	4	6
B	4	6
C	4	5
C	4	3
D	4	5
E	2	3
B	2	5
D	2	4
E	3	6
D	2	3
E	4	3
E	2	3
Time taken: 0.6 seconds, Fetched: 20 row(s)

In [67]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT
        letra,
        c3
    FROM
        t0
    LATERAL VIEW
        explode(c2) t0 AS letra;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.207 seconds
CREATE TABLE tabla1
AS
    SELECT
        letra,
        c3
    FROM
        t0
    LATERAL VIEW
        explode(c2) t0 AS letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209234039_6b676593-a39e-4abe-86fd-0b8abef9caac
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581285798968_0016, Tracking URL = http://63fea19fc735:8088/proxy/application_1581285798968_0016/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581285798968_0016
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-09 23:41:05,304 Stage-1 map = 0%,  reduce = 0%
2020-02-09 23:41:38,782 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 22.55 sec
MapReduce Total cumulative CPU time: 22 seconds 550 msec
Ended Job = job_1581285798968_0016
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-09_23-40-39_940_4407136178535438542-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 22.55 sec   HDFS Read: 6597 HDFS Write: 3299 SUCCESS
Total MapReduce CPU Time Spent: 22 seconds 550 msec
OK
Time taken: 63.401 seconds

In [68]:
%%hive
SELECT * FROM tabla1 LIMIT 20;

SELECT * FROM tabla1 LIMIT 20;
OK
b	{"jjj":3,"bbb":0,"ddd":9,"ggg":8,"hhh":2}
g	{"jjj":3,"bbb":0,"ddd":9,"ggg":8,"hhh":2}
f	{"jjj":3,"bbb":0,"ddd":9,"ggg":8,"hhh":2}
a	{"ccc":2,"ddd":0,"aaa":3,"hhh":9}
f	{"ccc":2,"ddd":0,"aaa":3,"hhh":9}
c	{"ccc":2,"ddd":0,"aaa":3,"hhh":9}
f	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
e	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
a	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
c	{"ddd":2,"ggg":5,"ccc":6,"jjj":1}
a	{"hhh":9,"iii":5,"eee":7,"bbb":1}
b	{"hhh":9,"iii":5,"eee":7,"bbb":1}
f	{"iii":6,"ddd":5,"eee":4,"jjj":3}
g	{"iii":6,"ddd":5,"eee":4,"jjj":3}
d	{"iii":6,"ddd":5,"eee":4,"jjj":3}
a	{"iii":6,"ddd":5,"eee":4,"jjj":3}
c	{"bbb":2,"hhh":0,"ccc":4,"fff":1,"aaa":7}
d	{"bbb":2,"hhh":0,"ccc":4,"fff":1,"aaa":7}
g	{"aaa":5,"fff":8,"ddd":2,"iii":0,"jjj":7,"ccc":1}
d	{"aaa":5,"fff":8,"ddd":2,"iii":0,"jjj":7,"ccc":1}
Time taken: 0.429 seconds, Fetched: 20 row(s)

In [69]:
%%hive
DESCRIBE tabla1;

DESCRIBE tabla1;
OK
letra               	char(1)
c3                  	map<string,int>
Time taken: 0.072 seconds, Fetched: 2 row(s)

In [72]:
%%hive
DROP TABLE IF EXISTS tabla2;
CREATE TABLE tabla2
AS
    SELECT
        letra,
        key,
        count(2)
    FROM
        tabla1
    LATERAL VIEW
        explode(c3) tabla1
    GROUP BY
        letra, key
    ORDER BY
        letra, key;

DROP TABLE IF EXISTS tabla2;
OK
Time taken: 0.228 seconds
CREATE TABLE tabla2
AS
    SELECT
        letra,
        key,
        count(2)
    FROM
        tabla1
    LATERAL VIEW
        explode(c3) tabla1
    GROUP BY
        letra, key
    ORDER BY
        letra, key;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200209234748_0544086a-0b8c-419c-af35-79e9ecc93dfe
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581285798968_0019, Tracking URL = http://63fea19fc735:8088/proxy/application_1581285798968_0019/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581285798968_0019
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-09 23:48:17,066 Stage-1 map = 0%,  reduce = 0%
2020-02-09 23:48:35,102 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 12.71 sec
2020-02-09 23:48:54,954 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 29.67 sec
MapReduce Total cumulative CPU time: 29 seconds 670 msec
Ended Job = job_1581285798968_0019
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581285798968_0020, Tracking URL = http://63fea19fc735:8088/proxy/application_1581285798968_0020/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581285798968_0020
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-09 23:49:26,383 Stage-2 map = 0%,  reduce = 0%
2020-02-09 23:49:41,408 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 5.76 sec
2020-02-09 23:49:58,742 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 14.89 sec
MapReduce Total cumulative CPU time: 14 seconds 890 msec
Ended Job = job_1581285798968_0020
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla2
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 29.67 sec   HDFS Read: 13794 HDFS Write: 1776 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 14.89 sec   HDFS Read: 7588 HDFS Write: 644 SUCCESS
Total MapReduce CPU Time Spent: 44 seconds 560 msec
OK
Time taken: 133.925 seconds

In [73]:
%%hive
SELECT * FROM tabla2 LIMIT 20;

SELECT * FROM tabla2 LIMIT 20;
OK
a	aaa	5
a	bbb	7
a	ccc	13
a	ddd	13
a	eee	7
a	fff	10
a	ggg	8
a	hhh	8
a	iii	7
a	jjj	10
b	aaa	4
b	bbb	7
b	ccc	5
b	ddd	7
b	eee	5
b	fff	8
b	ggg	4
b	hhh	7
b	iii	7
b	jjj	5
Time taken: 0.362 seconds, Fetched: 20 row(s)