In [2]:
%load_ext bigdata

In [3]:
%hive_start

In [4]:
%timeout 300

In [30]:
%hive_quit

In [5]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 25.98 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 2.548 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 3.033 seconds

In [26]:
%%hive
DROP TABLE IF EXISTS tabla1;
CREATE TABLE tabla1
AS
    SELECT concat_ws(':',c5) AS col FROM tbl0;

DROP TABLE IF EXISTS tabla1;
OK
Time taken: 0.17 seconds
CREATE TABLE tabla1
AS
    SELECT concat_ws(':',c5) AS col FROM tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200208004436_fb1f5fbf-c33d-4836-a7ed-a3468de70082
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581114677533_0033, Tracking URL = http://b29a149d01a3:8088/proxy/application_1581114677533_0033/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581114677533_0033
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-08 00:45:06,020 Stage-1 map = 0%,  reduce = 0%
2020-02-08 00:45:30,832 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 10.93 sec
MapReduce Total cumulative CPU time: 10 seconds 930 msec
Ended Job = job_1581114677533_0033
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-08_00-44-36_308_5142156298911091366-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tabla1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 10.93 sec   HDFS Read: 4695 HDFS Write: 138 SUCCESS
Total MapReduce CPU Time Spent: 10 seconds 930 msec
OK
Time taken: 56.707 seconds

In [19]:
%%hive
SELECT concat_ws(':',c5) FROM tbl0 LIMIT 10;

SELECT concat_ws(':',c5) FROM tbl0 LIMIT 10;
OK
a:e:c:d
a:c
b:d
a:c:e:b:d
d:e:c
a:d
a:e:d
d:a:c:e
b:a:c:e
c:d:e:a:b
Time taken: 0.376 seconds, Fetched: 10 row(s)

In [27]:
%%hive
DESCRIBE tabla1;

DESCRIBE tabla1;
OK
col                 	string
Time taken: 0.084 seconds, Fetched: 1 row(s)

In [28]:
%%hive
DROP TABLE IF EXISTS result;
CREATE TABLE result
AS
    SELECT upper(col) FROM tabla1;

DROP TABLE IF EXISTS result;
OK
Time taken: 0.012 seconds
CREATE TABLE result
AS
    SELECT upper(col) FROM tabla1;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200208004606_087a2c78-60cf-41ba-afc4-aab4aa3236d5
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581114677533_0034, Tracking URL = http://b29a149d01a3:8088/proxy/application_1581114677533_0034/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581114677533_0034
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-08 00:46:35,770 Stage-1 map = 0%,  reduce = 0%
2020-02-08 00:47:00,592 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 11.06 sec
MapReduce Total cumulative CPU time: 11 seconds 60 msec
Ended Job = job_1581114677533_0034
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-08_00-46-06_968_8177041668403688647-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/result
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 11.06 sec   HDFS Read: 3478 HDFS Write: 138 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 60 msec
OK
Time taken: 55.759 seconds

In [29]:
%%hive
SELECT * FROM result LIMIT 10;

SELECT * FROM result LIMIT 10;
OK
A:E:C:D
A:C
B:D
A:C:E:B:D
D:E:C
A:D
A:E:D
D:A:C:E
B:A:C:E
C:D:E:A:B
Time taken: 0.202 seconds, Fetched: 10 row(s)

In [24]:
%%hive
SELECT * FROM result LIMIT 20;

SELECT * FROM result LIMIT 20;
FAILED: SemanticException [Error 10001]: Line 1:14 Table not found 'result'